<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cholerne króliki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<section>Blaaaa</section>
<section>
    <p>lista królik z getkrólik</p>
    <p>Imie1 <span th:text="${imie}"></span></p>
    <p>Kolor1 <span th:text="${kolor}"></span></p>
    <p>wiek1 <span th:text="${wiek}"></span></p>
    <p>płeć1 <span th:text="${plec}"></span></p>
    <!--//czasem moze byc, kwestia inteliig bo nie jest swiadomy z ktorego modelu korzysta (ale dziala)-->
</section>
<hr/>
<section>
    <p>lista królików</p>
    <p>.............................</p>
    <p> lista<div th:each="kroliki: ${getKrolik}" class="list-group-item">
    <p>Imie <span th:text="${kroliki.imie}">...</span></p>
    <p>Kolor <span th:text="${kroliki.kolor}">...</span></p>
    <p>wiek <span th:text="${kroliki.wiek}">...</span></p>
    <p>płeć <span th:text="${kroliki.plec}">...</span></p>
</div>

</section>

</body>
</html>