<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<section>Jakis text (ale trzeba zrobić reload servera a dopiero potem odswiezyc</section>
<section>
    <h1>Dynamic string</h1>
    <p>Name <span th:text="${name}"> ... Some name ...</span></p>
    <p>Surname <span th:text="${surname}"> ... Some surname ...</span></p>
    <!--//czasem moze byc, kwestia inteliig bo nie jest swiadomy z ktorego modelu korzysta (ale dziala)-->
</section>

<!--//obj-->

<section>
    <h1>obiekt</h1>
    <p>Name <span th:text="${person.name}"> ... Some name ..obiekt .</span></p>
    <p>Surname <span th:text="${person.surname}"> ... Some surname obiekt...</span></p>
    <!--//czasem moze byc, kwestia inteliig bo nie jest swiadomy z ktorego modelu korzysta (ale dziala);-->
    <p>Age <span th:text="${person.age}"> ... Some age .obiekt..</span></p>
</section>

<section>
    <h1>lista</h1>
    <div th:each="person: ${persons}">
        <p>......................................................................</p>
    <p>Name <span th:text="${person.name}"> ... Some name lista...</span></p>
    <p>Name <span th:text="${person.getName()}"> ... Some name lista...</span></p>
    <p>Surname <span th:text="${person.surname}"> ... Some surname lista...</span></p>
    <p>Age <span th:text="${person.age}"> ... Some age lista...</span></p>

    </div>


</section>


<!--list-->


</body>
</html>